/**============================**/
/*           Fonts             */
/**============================**/


@font-face {
    font-family: "NoticialText";
    src: url('../fonts/NoticialText-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

/* Base */
.font-size-10 {
    font-size: 10px; }

.font-size-11 {
    font-size: 11px; }

.font-size-12 {
    font-size: 12px; }

.font-size-13 {
    font-size: 13px; }

.font-size-14 {
    font-size: 14px; }

.font-size-15 {
    font-size: 15px; }

.font-size-16 {
    font-size: 16px; }

.font-size-17 {
    font-size: 17px; }

.font-size-18 {
    font-size: 18px; }

.font-size-19 {
    font-size: 19px; }

.font-size-20 {
    font-size: 20px; }

.font-size-21 {
    font-size: 21px; }

.font-size-22 {
    font-size: 22px; }

.font-size-23 {
    font-size: 23px; }

.font-size-24 {
    font-size: 24px; }

.font-size-25 {
    font-size: 25px; }

.font-size-26 {
    font-size: 26px; }

.font-size-27 {
    font-size: 27px; }

.font-size-28 {
    font-size: 28px; }

.font-size-29 {
    font-size: 29px; }

.font-size-30 {
    font-size: 30px; }
.font-size-48 {
    font-size: 48px; }
.font-weight {
    font-weight: bold;
}
ul li {
   list-style: none;
}
*:focus {
    outline: none;
}
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    font-family: "NoticialText";
    color: #000000;
    font-size: 18px;
}
h2, h3, h4, p {
    margin-bottom: 0;
}
.clear {
    clear: both;
}
/*nav-top*/
.main-menu {
    height: 89px;
    background-color: #135454;
}
.main-logo{
    line-height: 89px;
    float: left;
}
.main-nav {
    margin-left: auto;
    margin-right: auto;
}
.main-menu-content {
    float: left;

}
.main-menu-content ul li {
    list-style: none;
    float: left;
    padding: 10px;
    position: relative;
    transition-duration: 0.5s;
    line-height: 69px;
}
.main-menu-content ul li a {
    text-transform: uppercase;
    color: #E8A45F;
}

.main-menu-content ul {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

.main-menu-content ul li:hover, .main-menu-content ul li a:hover {
    cursor: pointer;
    text-decoration: none;
    color: #F88E17;
}
.main-menu-content ul li a.active {
    color: #F88E17;
}


.main-menu-content ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 10rem;
    position: absolute;
    transition: all 0.5s ease;
    right: 10px;
    display: none;
    padding-left:0;
    z-index: 99;
}
.main-menu-content ul li ul li, .contact-main-top ul li {
    clear: both;
    width: 100%;
    background-color: #D6F2F2;
    margin-bottom: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 6px;
    text-align: center;
    line-height: 42px;
}
.main-menu-content ul li ul li a {
    color: #000 !important;
    text-transform: none;
    line-height: 25px;
}

.main-menu-content ul li:hover > ul,
.main-menu-content ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.main-menu-content ul li ul li:hover, .main-menu-content ul li ul li:visited, .main-menu-content ul li ul li.active {
    background-color: #EFFAFA;
}

.main-social-icon-top {
    float: right;
    padding-right: 0px;
}
.main-social-icon-top ul li{
    float: right;
    margin-left: 20px;
    line-height: 89px;
}
.main-social-icon-top a:first-child{
    visibility: visible;
}
.main-social-icon-top img {
    /*width: 20px;*/
}
.main-social-icon-top a:visited {
    color: #F88E17 !important;
}

.main-social-icon-top .search-main-top, .main-social-icon-top .phone-number-main-top, .cart-main-top, .contact-main-top {
    position: relative;
}
.txt-search-top {
    z-index: 9;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
}

.txt-search-top #searchinput {
    background: #D6F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 8px;
    height: 42px;
    width: 220px;
}

.txt-search-top #searchclear {
    position: absolute;
    right: 5px;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    color: #000;
}
input#searchinput:focus {
    outline-width: 0;
}
.phone-number-main-top span {
    background: #D6F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    z-index: 9;
    position: absolute;
    right: 0;
    top: 59px;
    display: none;
    padding: 9px 15px;
}
.cart-main-top span{
    line-height: 25px;
    padding: 0px 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 14px;
    top: 42px;
    background-color: #D6F2F2;
    z-index: 9;
}
.contact-main-top ul{
    position: absolute;
    z-index: 99;
    top: 59px;
    padding-left: 0;
    display: none;
    right:0;
    min-width: 10rem;

}
.contact-main-top ul li{
    width: 238px;
}
.contact-main-top ul li:last-child {
    margin-bottom: 0;
}
.contact-main-top ul li a{
    color: #000;
}
.contact-main-top ul > li > a > i {
    padding-right:5px;
}
/*footer*/
.site-footer {
    background-color: #135454;
    margin-top: 80px;
}
.content-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}
.content-footer .row div.col{
    padding-left: 0;
    margin-top: 15px;
}
.address-footer h3, .policy-footer h3, .advisory-footer h3 {
    color: #E8A45F;
    line-height: 33px;
}
.advisory-footer h3 {
    text-align: center;
}
.address-footer p {
    color: #E8A45F;
    line-height: 25px;
    margin-bottom: 0;
}
.policy-footer ul {
    padding-left:0;
}
.policy-footer ul li  {
    list-style: none;
}
.policy-footer ul li a {
    color: #E8A45F;
    line-height: 25px;
    font-weight: bold;
}
.icon-social-footer i, .icon-social-footer img {
    background-color: #D6F2F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
}
.icon-social-footer img {
    padding: 5px;
}
.advisory-footer {
    border: 2px solid #E8A45F;
    box-sizing: border-box;
    padding: 20px 15px;
}
.advisory-footer input, .advisory-footer select {
    background-color: #D6F2F2;
    line-height: 25px;
    height: 52px;
    padding: 0px 12px;
    display: block;
    width: 99.3%;
    margin-bottom: 15px;
    border:none;
    margin-left: auto;
    margin-right: auto;
}
.advisory-footer select.bootstrap-select {
    /*background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;*/
    display: block;
    clear: both;
}
.advisory-footer .bootstrap-select .btn {
    background-color: #D6F2F2;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    border: none;
    border-radius: 0;
    height: 52px;
}
.advisory-footer .bootstrap-select .dropdown-toggle .filter-option {
    top: 9px;
}
.advisory-footer .bootstrap-select .btn:focus {
    outline: none;
}
.advisory-footer .bootstrap-select .dropdown-menu.inner {
    background-color: #D6F2F2;
}
.advisory-footer .bootstrap-select .dropdown-menu li {
    /*margin-bottom: 2px;*/
}
.advisory-footer .bootstrap-select .dropdown-menu li a, .advisory-footer .dropdown-item.active, .dropdown-item:active {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    padding: 10px 0px;
}
.advisory-footer .dropdown-menu {
    padding:0;
}
.advisory-footer .dropdown-item.active, .dropdown-item:active {
    background-color: #EFFAFA;
}
.advisory-footer .bootstrap-select .dropdown-menu li.divider {
    border: 1px solid #E8A45F;
    width: 80%;
    margin:0 auto;
}
.advisory-footer .btn-register-footer {
    display: block;
    margin: 15px auto 0px;
    background: #E8A45F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    color: #000;
    line-height: 33px;
    border:none;
}
/*main slide top*/
.main-slide-home-page .item-slide {
    position: relative;
}
.main-slide-home-page .item-slide img {
    height: 670px;
}
.main-slide-home-page .cation-main-slide {
    position: absolute;
    top: 15%;
    bottom: 20px;
    bottom: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #000;
    text-align: left;
    left: 7.5%
}
.main-slide-home-page .cation-main-slide h5 {
    font-size: 64px;
    line-height: 87px;
}
.main-slide-home-page .cation-main-slide p {
    max-width: 30%;
    font-size: 24px;
    line-height: 33px;
}
.main-slide-home-page .cation-main-slide .btn-slide-more {
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    font-size: 36px;
    line-height: 49px;
    color: #000;
}

/*comment product*/
.content-comment {
    margin: 50px auto;
}
.content-comment h3 {
    font-size: 48px;
    line-height: 66px;
}
.main-content-comment {
    margin-left: 20%;
}
.item-comment {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    margin-bottom: 27px;
    padding: 4px 18px 10px 17px;
    position: relative;
    display: block;
    overflow: auto;
}
.item-comment:last-child {
    margin-bottom: 0;
}
.item-comment img {
    float: left;
}
.item-comment .info-comment {
    margin-left: 50px;
    font-family: 'Roboto';font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
}
.item-comment .info-comment h4 {
    color: #000;
}
.item-comment button, .main-content-comment button.btn-send-comment {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Roboto';font-size: 18px;
    padding: 2px 6px;
    color: rgba(0, 0, 0, 0.65);
}
.item-comment button.btn-rep-comment {
    position: absolute;
    top: 5px;
    right: 5px;
}
.item-comment button.btn-send-rep-comment, .main-content-comment button.btn-send-comment {
    float: right;
    padding: 2px 12px;
}
.item-comment:last-child {
    padding: 2px 6px;
    color: rgba(0, 0, 0, 0.65);
}
.item-comment button.active {
    background-color: #E8A45F;
    color: #000;
}

.avatar-user-comment {
    margin:0;
}

.rep-comment textarea {
    background: #D9D9D9;
    border:none;
    font-style: italic;
    color: #FFFFFF;
    font-size: 18px;
    margin-top:10px;
    padding: 10px;
    font-family: 'Roboto';
    width: 100%;
}
.rep-comment textarea::placeholder {
    color: #fff;
}
.rep-comment h4 {
    margin: 7px 0px;
}

/*Use product*/
.item-product-use h2 {
    text-align: center;
    margin: 0 auto 34px;
}
.item-product-use .col, .item-product-use .item-use-text ul {
    margin:0px;
    padding:0px;
}
.item-product-use .item-use-text ul li {
    background-color: #326C61;
    border: 1px solid #135454;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
}
.item-product-use .item-use-text ul li.active {
    background: #F4CA9A;
}
.item-product-use .item-use-text ul li p {
    line-height: 33px;
    color: #E8A45F;
}
.item-product-use .item-use-text ul li.active p {
    color: #000000;
}
.item-product-use .item-use-text ul li p.number-use {
    margin: auto 0px;
    float: left;
}
.item-product-use .item-use-text ul li p.text-use-product{
    margin-left: 22px;
    text-align: justify;

}

/*item-product*/
.item-product-detail {
    margin-top: 40px;
}
.content-item-product h2, .item-product-detail h2 {
    color: #000000;
    line-height: 66px;
    margin:0px;
}

/*star*/
.starrating {
    float: left;
    display: block;
}
.starrating > input {display: none;}  /* Remove radio buttons */
.starrating > label:before {
    content: url(../img/Star1.png);
    /*content: "\f005"; !* Star *!*/
    /*margin-right: 10px;*/
    /*font-size: 39px;*/
    /*font-family: FontAwesome;*/
    /*display: inline-block;*/
}

.starrating > label {
    color: #222222; /* Start color when not clicked */
    margin-bottom: 0;
}

.starrating > input:checked ~ label
{ color: #EFAF0C ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #EFAF0C ;  } /* Set yellow color when star hover */

.content-item-product h4.price {
    line-height: 33px;
    color: #000000;
    margin:10px 0 0 0;
}
.content-item-product p {
    margin-top:9px;
}
.content-item-product .choose-color {
    margin-top: 37px;
}
.content-item-product .choose-color span.text-color {
    margin-right: 22px;
}
.content-item-product .choose-color i.icon{
    margin-right: 7px;
}
.content-item-product .choose-color i.active {
    border: 2px solid;
    box-sizing: border-box;
    /*border-radius: 50%;*/
}
.content-item-product .line-item-product {
    border: 1px solid #135454;
    margin-top: 35px;
}


/*corner beartyfull*/
.corner-beauty ul {
    /*display: inline-flex;*/
    padding-left: 0px;
}
.corner-beauty ul li {
    float: left;
    margin-right: 26px;
    width: 48.1%;
    margin-bottom: 55px;
}
.corner-beauty ul li:nth-child(even) {
    margin-right: 0;
    float: right;
}
.corner-beauty ul li img {
    width: 100%;
}
.corner-beauty ul li p.title {
    padding: 10px 0 7px;
}
.corner-beauty ul li p.content {
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
}
.corner-beauty .pagination-corner-beauty {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    text-align: center;
}
.corner-beauty .pagination-corner-beauty a {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 10px;
    padding:0px 12px;
    font-size: 36px;
}
.corner-beauty .pagination-corner-beauty img {
    margin-top: -10px;
}
.corner-beauty .pagination-corner-beauty a.active {
    background-color: #E8A45F;
}

/*detail corneer beauty*/
.detail-corner-beauty img {
    max-width: 100%;
}
.detail-corner-beauty p.title{
    margin: 40px 0px 10px;
    line-height: 41px;
    font-size: 30px;
}
.detail-corner-beauty p.content {
    line-height: 33px;
    color: rgba(0, 0, 0, 0.7);
}

/*cart product*/
.cart-product {
    margin-top: 81px;
}
.cart-product table {
    margin: 0px;
}
.cart-product .thead-orange {
    background-color: #E8A45F;
}
.cart-product .thead-orange tr {
    height: 84px;
    text-align: center;
}
.cart-product .thead-orange tr th {
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}
.cart-product tr td {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
}
.cart-product tr td i {
    font-size: 26px;
    padding-left: 23px;
}
.cart-product tr td div.cart-plus-minus {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 91px;
    padding: 8px;
    text-align: center;
    margin: auto;

}
.cart-product tr td div.cart-plus-minus button{
    background: none;
    padding:0px;
    font-weight: bold;
    font-size: 24px;
}
.cart-product tr td div.cart-plus-minus input {
    font-family: 'Roboto';font-size: 24px; font-weight: bold;
    border: none;
    text-align: center;
    padding: 0px;
    margin:0px;
    background: none;
    width: 24px; /*js fix auto resize*/
}
.cart-product .total-cart {
    float: right;
    margin-top: 32px;
    text-align: center;
}
.cart-product .total-cart p {

}
.cart-product .total-cart span {
    color: #135454;
    padding-left: 28px;
}
.cart-product .total-cart button{
    background: #FF1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding: 10px 78px 11px;