/**============================**/
/*           Fonts             */
/**============================**/

/* Base */
.font-size-10 {
    font-size: 10px; }

.font-size-11 {
    font-size: 11px; }

.font-size-12 {
    font-size: 12px; }

.font-size-13 {
    font-size: 13px; }

.font-size-14 {
    font-size: 14px; }

.font-size-15 {
    font-size: 15px; }

.font-size-16 {
    font-size: 16px; }

.font-size-17 {
    font-size: 17px; }

.font-size-18 {
    font-size: 18px;
}

.font-size-19 {
    font-size: 19px; }

.font-size-20 {
    font-size: 20px; }

.font-size-21 {
    font-size: 21px; }

.font-size-22 {
    font-size: 22px; }

.font-size-23 {
    font-size: 23px; }

.font-size-24 {
    font-size: 24px;
    font-weight: bold;
    /*font-family: "Roboto";?*/
    font-style: normal; }

.font-size-25 {
    font-size: 25px; }

.font-size-26 {
    font-size: 26px; }

.font-size-27 {
    font-size: 27px; }

.font-size-28 {
    font-size: 28px; }

.font-size-29 {
    font-size: 29px; }

.font-size-30 {
    font-size: 30px; }
.font-size-48 {
    font-size: 48px; }
.font-weight {
    font-weight: bold;
}
ul li {
   list-style: none;
}
*:focus {
    outline: none;
}
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
    outline: none;
}

body {
    font-family: "Roboto";
    color: #000000;
}

h2, h3, h4, p {
    margin-bottom: 0;
}
.clear {
    clear: both;
}
/*nav-top*/
.main-menu {
    height: 89px;
    background-color: #135454;
}
.main-logo{
    display: block;
    line-height: 89px;
    float: left;
}
.main-menu-content .navbar img{
    display: none;
}

/**** main-menu ****/
/****** menu for pc *****/
.navbar-main-menu .head-nav-side-menu {
    overflow: inherit;
    float: left;
    margin-left: 82px;
}
.navbar-main-menu .head-nav-side-menu .menu-list {
    line-height: 89px;
}
.navbar-main-menu .head-nav-side-menu .menu-list a, li{
    font-family: "Roboto";
}
.navbar-main-menu .head-nav-side-menu .brand {
    background-color: transparent;
    line-height: 50px;
    display: none;
    text-align: center;
    font-size: 14px;
}
.navbar-main-menu .head-nav-side-menu ul li {
    float: left;
    position: relative;
    padding: 0px 15px;
    background: transparent;
    border-bottom: 0px;
    text-align: center;
}
.navbar-main-menu .head-nav-side-menu ul li.login-mobile {
    display: none;
}
.navbar-main-menu .head-nav-side-menu ul li a {
    color: #E8A45F;
    text-transform: uppercase;
    line-height: 89px;
}
.navbar-main-menu .head-nav-side-menu ul li:hover a {
    color: #F88E17;
}
.navbar-main-menu .head-nav-side-menu ul li:hover ul.sub-menu  {
    display: block;
    padding-left: 0px;
}
.navbar-main-menu .head-nav-side-menu ul.sub-menu li.active {
    background: rgba(37, 108, 108, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.navbar-main-menu .head-nav-side-menu ul.sub-menu li.active a {
    color: #000;
}

.navbar-main-menu .head-nav-side-menu ul li span.arrow {
    display: none;
}
.navbar-main-menu .head-nav-side-menu ul.sub-menu {
    position: absolute;
    top: 75px;
    z-index: 9;
    right: 0px;
    display: none;
    width: 130%;
    background-color: #D6F2F2;
}
.navbar-main-menu .head-nav-side-menu ul.sub-menu li {
    float: none;
    background: #D6F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 3px;
    border-bottom: none;
}
.navbar-main-menu .head-nav-side-menu ul.sub-menu li a{
    color: #000;
    line-height: 21px;
    text-transform: none;
}
.navbar-main-menu .head-nav-side-menu ul .sub-menu li:before, .navbar-main-menu .head-nav-side-menu li .sub-menu li:before {
    display: none;
}
/****** menu for mobile *****/
.head-nav-side-menu ul .sub-menu li.active,
.head-nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
}
.head-nav-side-menu ul .sub-menu li.active a,
.head-nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
}
.head-nav-side-menu ul .sub-menu li,
.head-nav-side-menu li .sub-menu li {
    border: none;
    line-height: 28px;
    border-bottom: 10px solid #fff;
    margin-left: 0px;
    padding: 7px 0px 10px;
}
.head-nav-side-menu ul .sub-menu li:hover,
.head-nav-side-menu li .sub-menu li:hover {
    background: rgba(37, 108, 108, 0.65);
}

.head-nav-side-menu li .sub-menu li:hover {
    background: rgba(37, 108, 108, 0.65);
}
.head-nav-side-menu ul .sub-menu li:before,
.head-nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f054";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
}
.head-nav-side-menu li {
    border-bottom: 19px solid #fff;
    background: #D6F2F2;
    padding: 5px 0px 4px 12px;
}
.head-nav-side-menu li a {
    text-decoration: none;
    color: #000000;
    font-family: "Noticia";
}
.head-nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
}
.head-nav-side-menu li:hover {
    background-color: rgba(37, 108, 108, 0.65);;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
/***** end main menu ******/

.main-social-icon-top {
    float: right;
    padding-right: 0px;
}
.main-social-icon-top ul li{
    float: right;
    margin-left: 20px;
    margin-top: 32px;
    /*line-height: 89px;*/
}
.main-social-icon-top ul li:hover
.main-social-icon-top a:first-child{
    visibility: visible;
}
.main-social-icon-top img {
    /*width: 20px;*/
}
.main-social-icon-top a:visited {
    color: #F88E17 !important;
}
.main-social-icon-top ul li ul li {
    line-height: 42px;
    margin-top: 3px;
}
.main-social-icon-top .search-main-top, .main-social-icon-top .phone-number-main-top, .cart-main-top, .contact-main-top {
    position: relative;
}

/*icon active and no-active*/
.main-social-icon-top .phone-number-main-top img.active,
.main-social-icon-top .contact-main-top img.active,
.main-social-icon-top .search-main-top img.active {
    display: none;
}
.main-social-icon-top .phone-number-main-top:hover img.no-active,
.main-social-icon-top .contact-main-top:hover img.no-active,
.main-social-icon-top .search-main-top:hover img.no-active{
    display: none;
}
.main-social-icon-top .phone-number-main-top:hover img.active,
.main-social-icon-top .contact-main-top:hover img.active,
.main-social-icon-top .search-main-top:hover img.active {
    display: block;
}
/* end icon active and no-active*/
.main-social-icon-top .contact-main-top ul.active, .main-social-icon-top .txt-search-top.active {
    display: block;
}


.main-social-icon-top .txt-search-top {
    z-index: 9;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
}
.main-social-icon-top .txt-search-top img.icon-search-top {
    position: absolute;
    top: 11px;
    left: 8px;
}
.main-social-icon-top .txt-search-top img.icon-clear-search {
    position: absolute;
    top: 16px;
    right: 5px;
    cursor: pointer;
}

.txt-search-top #searchinput {
    background: #D6F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    padding-left: 8px;
    height: 42px;
    width: 220px;
    font-size: 18px;
}

/*.txt-search-top #searchclear {*/
    /*position: absolute;*/
    /*right: 5px;*/
    /*bottom: 6px;*/
    /*margin: auto;*/
    /*cursor: pointer;*/
    /*color: #000;*/
/*}*/
input#searchinput:focus {
    outline-width: 0;
}
.phone-number-main-top span {
    background: #D6F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
    z-index: 9;
    position: absolute;
    right: 0;
    top: 40px;
    display: none;
    padding: 9px 15px;
}
.cart-main-top span{
    line-height: 25px;
    padding: 0px 8px;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 14px;
    top: 14px;
    background-color: #D6F2F2;
    z-index: 9;
}
.main-social-icon-top ul {
    padding-left: 0px;
}
.main-social-icon-top .contact-main-top ul li {
    margin-left: 0px;
}
.main-social-icon-top .contact-main-top ul{
    position: absolute;
    z-index: 99;
    top: 36px;
    padding-left: 0;
    display: none;
    right:0;
    min-width: 10rem;

}
.main-social-icon-top .contact-main-top ul li {
    width: 279px;
    text-align: center;
    background: #D6F2F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-social-icon-top .contact-main-top ul li:hover {
    background: #4086EB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-social-icon-top .contact-main-top ul li:last-child {
    margin-bottom: 0;
}
.main-social-icon-top .contact-main-top ul li a{
    color: #000;
    font-weight: 500;
    line-height: 21px;
}
.main-social-icon-top ul li.contact-main-top ul li a {
    color: #000 !important;
}
.main-social-icon-top .contact-main-top ul li a:hover {
    text-decoration: none;
}
.main-social-icon-top .contact-main-top ul > li > a > i {
    padding-right: 13px;
    font-size: 18px;
    font-weight: bold;
}
/*footer*/
.site-footer {
    background-color: #135454;
    margin-top: 80px;
}
.content-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}
.content-footer a, li, option{
    font-family: "Roboto";
}

.content-footer input, .select-product-frm{
    font-family: "Roboto";
}
.content-footer .row div.col{
    padding-left: 0;
    margin-top: 15px;
}
.address-footer h3, .policy-footer h3, .advisory-footer h3 {
    color: #E8A45F;
    line-height: 33px;
}
.advisory-footer h3 {
    text-align: center;
    margin-bottom: 13.55px;
}
.address-footer p, .policy-footer p {
    color: #E8A45F;
    line-height: 25px;
    margin-bottom: 6px;
}
.policy-footer ul{
    margin-bottom: 30px;
}

.address-footer h3 {
    margin-bottom: 16px;
}
.policy-footer h3{
    margin-bottom: 14px;
}
.policy-footer ul {
    padding-left:0;
}
.policy-footer ul li  {
    list-style: none;
}
.policy-footer ul li a {
    color: #E8A45F;
    line-height: 25px;
    font-weight: bold;
}
.icon-social-footer i, .icon-social-footer img {
    background-color: #D6F2F2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
}
.icon-social-footer img {
    padding: 5px;
}

.icon-social-footer i{
    margin-right: 15px;
}

.icon-social-footer {
   font-size: 18px;
}

.advisory-footer {
    border: 2px solid #E8A45F;
    box-sizing: border-box;
    padding: 20px 15px;
}
.advisory-footer input, .advisory-footer select {
    background-color: #D6F2F2;
    line-height: 25px;
    height: 52px;
    padding: 0px 12px;
    display: block;
    width: 99.3%;
    margin-bottom: 15px;
    border:none;
    margin-left: auto;
    margin-right: auto;
}
.advisory-footer select.bootstrap-select {
    /*background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right #ddd;*/
    display: block;
    clear: both;
}
.advisory-footer .bootstrap-select .btn {
    background-color: #D6F2F2;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    border: none;
    border-radius: 0;
    height: 52px;
}
.advisory-footer .bootstrap-select .dropdown-toggle .filter-option {
    top: 9px;
}
.advisory-footer .bootstrap-select .btn:focus {
    outline: none;
}
.advisory-footer .bootstrap-select .dropdown-menu.inner {
    background-color: #D6F2F2;
}
.advisory-footer .bootstrap-select .dropdown-menu li {
    /*margin-bottom: 2px;*/
}
.advisory-footer .bootstrap-select .dropdown-menu li a, .advisory-footer .dropdown-item.active, .dropdown-item:active {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    padding: 10px 0px;
}
.advisory-footer .dropdown-menu {
    padding:0;
}
.advisory-footer .dropdown-item.active, .dropdown-item:active {
    background-color: #EFFAFA;
}
.advisory-footer .bootstrap-select .dropdown-menu li.divider {
    border: 1px solid #E8A45F;
    width: 80%;
    margin:0 auto;
}
.advisory-footer .btn-register-footer {
    display: block;
    margin: 15px auto 0px;
    background: #E8A45F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    color: #000;
    line-height: 33px;
    border:none;
}
@media(min-width: 1024px){
    .btn-register-footer{
        padding: 10px 12px;
    }
}
@media(max-width: 1023px){
    .btn-register-footer{
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 5px;
        padding-left: 5px;
    }
}
/*main slide top*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}
* {
  box-sizing: border-box;
}
figure { 
  /*margin: 0; background: #101010;*/
  font-family: Istok Web, sans-serif;
  font-weight: 100;
}
div#captioned-gallery { 
  width: 100%; overflow: hidden; 
}
div#captioned-gallery-sub {
  width: 100%; overflow: hidden;
}
figure.slider {
  position: relative; width: 500%;
  font-size: 0; animation: 30s slidy infinite; 
  height: 670px;
}
figure.slider figure { 
  width: 20%; height: 100%;
  display: inline-block;  position: inherit; 
  /*height: 670px;*/
}
figure.slider img { width: 100%; height: 100%; object-fit: cover;}

figure.slider figure figcaption { 
  position: absolute; bottom: 0;
  /*background: rgba(0,0,0,0.4);*/
  
  font-size: 2rem; padding: .6rem;
  height: 100%;
  padding-top: 125px;
}

#captioned-gallery figure.slider figure figcaption{
    width: 462px;
    /*height: 208px;*/
}

figcaption p{
    font-family: "Roboto";
    font-weight: bold;
    font-style: normal;
}
.btn-slide-more{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    font-size: 36px;
    line-height: 49px;
    color: #000;
    font-weight: bold;
    margin-top: 13px;
    font-family: "Roboto";
    transform: translate(17%, 17px);
    padding: 4px 25px 10px 33px;
}
#captioned-gallery, #captioned-gallery-sub{
    margin-bottom: 80px;
}

#captioned-gallery-sub figure.slider figure figcaption{
    width: 100%;
    float: right;
}

#captioned-gallery-sub figure.slider figure figcaption .desc-content{
    width: 462px;
    float: right;
}

#captioned-gallery-sub figure.slider img{
    transform: scaleX(-1);
}

/*comment product*/
.content-comment {
    margin: 50px auto;
}
.content-comment h3 {
    font-size: 48px;
    line-height: 66px;
}
.main-content-comment {
    margin-left: 20%;
    margin-top: 40px;
}
.item-comment {
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    margin-bottom: 27px;
    padding: 4px 18px 10px 17px;
    position: relative;
    display: block;
    overflow: auto;
}
.item-comment:last-child {
    margin-bottom: 0;
}
.item-comment img {
    float: left;
}
.item-comment .info-comment {
    margin-left: 50px;
    font-family: 'Roboto';font-size: 18px;
    color: rgba(0, 0, 0, 0.65);
}
.item-comment .info-comment h4 {
    color: #000;
}
.item-comment button, .main-content-comment button.btn-send-comment {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.65);
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 7px;
    font-family: 'Roboto';font-size: 18px;
    padding: 2px 6px;
    color: rgba(0, 0, 0, 0.65);
}
.item-comment button.btn-rep-comment {
    position: absolute;
    top: 5px;
    right: 5px;
}
.item-comment button.btn-send-rep-comment, .main-content-comment button.btn-send-comment {
    float: right;
    padding: 2px 12px;
}
.item-comment:last-child {
    padding: 2px 6px;
    color: rgba(0, 0, 0, 0.65);
}
.item-comment button.active {
    background-color: #E8A45F;
    color: #000;
}

.avatar-user-comment {
    margin:0;
}

.rep-comment textarea {
    background: #D9D9D9;
    border:none;
    font-style: italic;
    color: #FFFFFF;
    font-size: 18px;
    margin-top:10px;
    padding: 10px;
    font-family: 'Roboto';
    width: 100%;
}
.rep-comment textarea::placeholder {
    color: #fff;
}
.rep-comment h4 {
    margin: 7px 0px;
}

/*Use product*/
.item-product-use h2 {
    text-align: center;
    margin: 0 auto 34px;
}
.item-product-use .col, .item-product-use .item-use-text ul {
    margin:0px;
    padding:0px;
}
.item-product-use .item-use-text ul li {
    background-color: #326C61;
    border: 1px solid #135454;
    box-sizing: border-box;
    padding: 24px;
    display: flex;
}
.item-product-use .item-use-text ul li.active {
    background: #F4CA9A;
}
.item-product-use .item-use-text ul li p {
    line-height: 33px;
    color: #E8A45F;
}
.item-product-use .item-use-text ul li.active p {
    color: #000000;
}
.item-product-use .item-use-text ul li p.number-use {
    margin: auto 0px;
    float: left;
}
.item-product-use .item-use-text ul li p.text-use-product{
    margin-left: 22px;
    text-align: justify;
}
.item-product-use img#expandedImgUse {
    height: 644px;
}

/*item-product*/
.item-product-detail {
    margin-top: 40px;
}
.content-item-product h2, .item-product-detail h2 {
    color: #000000;
    line-height: 66px;
    margin:0px;
}

/*star*/
.starrating {
    float: left;
    display: block;
}
.starrating > input {display: none;}  /* Remove radio buttons */
.starrating > label:before {
    content: url(../img/Star1.png);
    /*content: "\f005"; !* Star *!*/
    /*margin-right: 10px;*/
    /*font-size: 39px;*/
    /*font-family: FontAwesome;*/
    /*display: inline-block;*/
}

.starrating > label {
    color: #222222; /* Start color when not clicked */
    margin-bottom: 0;
}

.starrating > input:checked ~ label
{ color: #EFAF0C ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #EFAF0C ;  } /* Set yellow color when star hover */

.content-item-product h4.price {
    line-height: 33px;
    color: #000000;
    margin:10px 0 0 0;
}
.content-item-product p {
    margin-top:9px;
}
.content-item-product .choose-color {
    margin-top: 37px;
}
.content-item-product .choose-color span.text-color {
    margin-right: 22px;
}
.content-item-product ul li {
    float: left;
    margin-right: 7px;
    cursor: pointer;
}
.content-item-product ul li div {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.content-item-product ul li div.active {
    border: 2px solid black;
    box-sizing: border-box;
}

.content-item-product .choose-color i.icon{
    margin-right: 7px;
}
.content-item-product .choose-color i.active {
    border: 2px solid;
    box-sizing: border-box;
    /*border-radius: 50%;*/
}
.content-item-product .line-item-product {
    border: 1px solid #135454;
    margin-top: 35px;
}


/*detail corneer beauty*/
.detail-corner-beauty img {
    max-width: 100%;
}
.detail-corner-beauty p.title{
    margin: 40px 0px 10px;
    line-height: 41px;
    font-size: 30px;
}
.detail-corner-beauty p.content {
    line-height: 33px;
    color: rgba(0, 0, 0, 0.7);
}

/*cart product*/
.cart-product table {
    margin: 0px;
}
.cart-product .thead-orange {
    background-color: #E8A45F;
}
.cart-product .thead-orange tr {
    height: 84px;
    text-align: center;
}
.cart-product .thead-orange tr th {
    vertical-align: middle;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}
.detail-order h2{
    font-family: "Roboto";
}
.cart-product tr td, .detail-order .list-product-choose tr td {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
}
.cart-product tr td i {
    font-size: 26px;
    padding-left: 23px;
    cursor: pointer;
}
.cart-product tr td div.cart-plus-minus, .detail-order .list-product-choose tr td div.cart-plus-minus {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    width: 91px;
    padding: 8px;
    text-align: center;
    margin: auto;

}
.cart-product tr td div.cart-plus-minus button, .detail-order .list-product-choose tr td div.cart-plus-minus button {
    background: none;
    padding:0px;
    font-weight: bold;
    font-size: 24px;
}
.cart-product tr td div.cart-plus-minus input, .detail-order .list-product-choose tr td div.cart-plus-minus input {
    font-family: 'Roboto';font-size: 24px; font-weight: bold;
    border: none;
    text-align: center;
    padding: 0px;
    margin:0px;
    background: none;
    width: 24px; /*js fix auto resize*/
}
.cart-product .total-cart {
    float: right;
    margin-top: 32px;
    text-align: center;
}
.cart-product .total-cart p {

}
.cart-product .total-cart input {
    color: #135454;
    padding-left: 28px;
    border: none;
    background-color: transparent;
}
.info-custom-order h4, td, p{
    font-family: "Roboto";
}
.cart-product .total-cart button, .info-custom-order .method-payment .detail-method-payment button {
    background: #FF1B1B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding: 10px 78px 11px;
    margin-top:30px;
    border:none;
    cursor: pointer;
}

/*info custom order*/
.info-custom-order .row {
    margin:0px;
}
.info-custom-order label {
    padding: 0px;
}

.info-custom-order h4, .method-payment h4 {
    font-size: 30px;
    margin: 0px;
    margin-bottom: 39px;
}
.info-custom-order .col {
    padding: 0;
}
.info-custom-order .col-sm-5 {
    max-width: 32.666667%;
}
.info-custom-order .col-sm-7 {
    max-width: 63.0333333%;
    flex: 63.0333333%;
}
.info-custom-order input[type="text"], .info-custom-order textarea {
    border: 1px solid #E8A45F;
    box-sizing: border-box;
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 0px;
    margin-bottom: 21px;
    padding: 8px 7px;
}
.info-custom-order textarea {
    min-width: 100%;
    margin-bottom: 0px;
}
.info-custom-order div.form-group div {
    padding:0px;
    margin-left: 27px;
}
.info-custom-order .tbl-your-order tr:first-child td, .tbl-your-order tr td, .tbl-your-order tr:first-child {
    border-top: 0px;
    font-weight: bold;
    font-size: 24px;
    padding:21px 0px;
}
.info-custom-order .tbl-your-order {
    margin-bottom: 0px;
}
.info-custom-order .tbl-your-order tr td:nth-child(2n) {
    padding-left: 10px;
    padding-right: 10px;
}
.info-custom-order .tbl-your-order tr td:last-child {
    float: right;
}
.info-custom-order .tbl-your-order tr {
    border-top: 1px solid #E8A45F;
}
.info-custom-order .your-order {
    margin-left:64px;
}

.info-custom-order .col-md-4 {
    max-width: 35.333333%;
    flex: 0 0 35.333333%;
}
.info-custom-order .tbl-your-order tr td.total-price {
    color: #135454;
}
.info-custom-order .method-payment {
    margin: 80px 0px;
    overflow: auto;
}
.info-custom-order .method-payment .detail-method-payment {
    width: 79%;
    margin-left: auto;
    margin-right: auto;
}
.info-custom-order .method-payment .choose-paymen {
    position: relative;
    margin-bottom: 21px;
}
.info-custom-order .method-payment .detail-method-payment button {
    float: right;
    padding: 10px 43px;
    margin-top:30px;
    cursor: pointer;
}
.info-custom-order .method-payment .choose-paymen input[type="radio"] {
    -webkit-appearance: none;
    width: 15px; height: 15px; border-radius: 50%;
    display: block;
    float: left;
    top: 45%;
    position: absolute;
    border: 1px solid #E8A45F;
    box-sizing: border-box;

}
.info-custom-order .method-payment .choose-paymen input[type="radio"]:checked {
    background-color: #135454;
}
.info-custom-order .method-payment .choose-paymen.active input[type="radio"]:checked {
    background-color: #135454;
}
.info-custom-order .method-payment .choose-paymen.active .content-choose-payment{
    border: 2px solid #135454;
    box-sizing: border-box;
}
.info-custom-order .method-payment .choose-paymen .content-choose-payment {
    border: 1px solid #E8A45F;
    box-sizing: border-box;
    padding: 17px;
    vertical-align: middle;
    margin-left: 24px;
}
.info-custom-order .method-payment .choose-paymen .content-choose-payment img {
    float: left;
    margin-right: 9px;
}

/*orderTracking*/
#orderTracking .modal-content {
    border: 2px solid #E8A45F;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    padding: 50px 33px;
    text-align: center;
}
#orderTracking .modal-dialog {
    max-width: 1020px;
}
#orderTracking p.title-thanks {
    line-height: 66px;
    color: #135454;
    padding-bottom: 30px;
}
#orderTracking p.title-tracking {
    line-height: 66px;
    color: #000000;
    padding-bottom: 20px;
}
#orderTracking .modal-content button {
    background: #E8A45F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    padding: 10px 50px;
    line-height: 33px;
    margin-left: auto;
    margin-right: auto;
}

/*detail-order*/
.detail-order h2 {
    margin-bottom: 60px;
}
.detail-order h2, .detail-order h4 {
    margin:0px;
    font-family: "Roboto";
}
.detail-order h4 {
    padding-bottom: 30px;
}
.detail-order div.row {
    margin: 0;
    margin-top: 30px;
}
.detail-order div.row div.col {
    padding-left: 0px;
    padding-right: 0px;
}
.detail-order div.row div.col .address-detail-order, .detail-order div.row div.col .address-detail-order-one {
    background: #F1F0F1;
    border: 1px solid #E8A45F;
    box-sizing: border-box;
    margin-right: 30px;
    padding: 13px 9px;
}
.detail-order div.row div.col .address-detail-order {
    height: 201px;
}
.detail-order div.row div.col:last-child{
    margin-right: 0px;
}
.detail-order div.row div.col .address-detail-order p{
    line-height: 33px;
}
.detail-order div.row div.col .address-detail-order p.name-detail-order {
    line-height: 27px;
    padding-bottom: 6px;
}
.detail-order .list-product-choose table {
    margin-top: 30px;
    margin-bottom: 20px;
    background: #F1F0F1;
    border: 1px solid #E8A45F;
    box-sizing: border-box;
}

.detail-order .list-product-choose .table th {
    padding: 13px 14px;
    border-left: 0;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 1px solid #E8A45F;
}
.detail-order .list-product-choose .table td {
     border: 1px solid #E8A45F;
     border-left: 0px;
     border-right: 0px;
}
.detail-order .list-product-choose .table td img{
    float: left;
    margin-right: 13px;
}
.detail-order .list-product-choose .cal-tranfer-product table {
    border:none;
    background-color: transparent;
    margin-top: 0px;
}
.detail-order .list-product-choose .cal-tranfer-product table tr {
    float: right;
    border: none;
}
.detail-order .list-product-choose .cal-tranfer-product table tr td {
    border:none;
    padding: 0px;
    text-align: right;
    padding-right: 69px;
}
.detail-order .list-product-choose .cal-tranfer-product table tr td span {
    display: block;
    line-height: 33px;
    padding-bottom: 13px;
}

/*order tracking progress*/
.detail-order .status-order-progress {
    margin-top: 48px;
}

.detail-order .steps .step {
    display: block;
    width: 100%;
    text-align: center
}

.detail-order .steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    /*height: 80px;*/
}

.detail-order .steps .step .step-icon-wrap::before,
.detail-order .steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 13%;
    width: 50%;
    height: 19px;
    background-color: #F1F0F1;
    content: '';
}

.detail-order .steps .step .step-icon-wrap::before {
    left: 0
}

.detail-order .steps .step .step-icon-wrap::after {
    right: 0
}

.detail-order .steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
}

.detail-order .steps .step .step-title {
    margin-top: 20px;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.detail-order .steps .step:first-child .step-icon-wrap::before {
    display: none
}

.detail-order .steps .step:last-child .step-icon-wrap::after {
    display: none
}

.detail-order .steps .step.completed .step-icon-wrap::before,
.detail-order .steps .step.completed .step-icon-wrap::after {
    background-color: #135454;
}

.detail-order .steps .step.completed .step-icon {
    border-color: #135454;
    background-color: #135454;
}



.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}