#home .divider{
	flex-grow:1;
	height: 1px;
	background-color: #9f9f9f;
}
#home .title-1{
	display:flex;
	flex-direction:row;
 	align-items: center;
  margin: 0 13px;
}
#home .title-1-text{
	flex-grow:0;
	font-weight: bold;
	font-size: 48px;
	font-family: "Noticia";
}

#home .rectangle-64 .image-container {
  height: 100%;
  width: 370px;
}

#home .rectangle-63 .image-container {
  height: 100%;
  width: 351px;
}

div.image-container img {
  width: 100%;
  height: 100%;
}
#home .rectangle-63{
 	width: 48.99999%;
 	float: right;
 	border: 1px solid #AFC8B0;
 	background-color: #AFC8B0;
}
#home .rectangle-64{
 	width: 48.99999%;
 	float: left;
 	border: 1px solid #E8A45F;
  	background-color: #E8A45F;
}

#home .rectangle-64 .image-container {
	float: right;
}

#home .grid-container{
	position: absolute;
}

#home .rec-text p{
	font-size: 24px;
	line-height: 33px;
	font-weight: bold;
	font-family: "Noticia";
	font-style: normal;
	color: rgba(0, 0, 0, 0.7);
}

#home .rectangle-64 .text{
	width: 220px;
	height: 33px;
	left: 374px;
	top: 1180px;
}

#home .product-list{
  margin-top: 60px;
}

#home .product-list .product-img{
  margin-bottom: 23px;
  width: 570px;
  height: 268px;
}

#home .review-list{
  margin-top: 16px;
}

#home .product-list img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#home .review-content{
  margin-top: 37px;
  background-image: linear-gradient(180deg, rgba(192, 205, 191, 0.66) 0%, rgba(192, 205, 191, 0) 96.18%);
  height: 732px;
  /*border: 1px solid black;*/
}

#home .review-content .review-title{
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-family: "Noticia";
  padding-top: 26px;
  margin-bottom: -1rem;
}

#home .review-content .review-sub-title{
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-family: "Noticia";
  width: 660.69px;
  
}

* {
  box-sizing: border-box;
}

.rec {
  float: left;
  height: 248px;
  position: relative;
}

div.review-product {
  background: #F2E2E2;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

/*div.review-product:hover {
  border: 1px solid #777;
}*/

div.review-product img {
  width: 100%;
  height: auto;
}

#home .review-content .desc {
  padding: 15px;
  text-align: left;
  font-family: "Noticia";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 33px;
}

* {
  box-sizing: border-box;
}

#home .button-review{
  text-align: center;
  margin-top: 53px;
}

#home .button-more {
  background: #E8A45F;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 36px;
  font-family: "Noticia";
  font-weight: bold;
  font-style: normal;
  padding: 4px 29.3px 10px;
}

#home .promo-1 {
  background: #EBF5F0;
}

#home .promo-2 {
  background: #8F9A93;
}

#home .promo-3 {
  background: #FAE8D2;
}


#home div.promo-combo img {
  width: 100%;
  height: auto;
}

#home ul.combo-text {
  list-style: none;
  margin-left: -35px;
}

#home .promo-combo ul li:before {
  content: url(/img/icon/tick.png);
  margin-right: 5px;
}
#home .promo-combo li {
  font-family: "Noticia";
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 25px;
  border-bottom: 1px solid rgba(244, 202, 154, 0.49);
  padding: 2px 0px 2px 0px; 
}

#home .promo-desc {
  padding: 15px;
  text-align: left;
  font-family: "Noticia";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  line-height: 33px;
  padding-bottom: 45px;
}
button.cart-button{
  border: none;
  border-radius: 22px;
  background: #C0CDBF;
  padding: 12px 16px;
  font-size: 36px;
/*  font-family: "Noticia";
  font-style: normal;
  font-weight: normal;*/
  color: #EB5757;
}

button.buy-button{
  border: none;
  border-radius: 22px;
  background: #C0CDBF;
  font-size: 36px;
  font-family: "Noticia";
  font-style: normal;
  font-weight: normal;
  color: #EB5757;
  padding: 12px 16px;
}

#home .button-group{
  transform: translateY(-50%);
}


.button-group{
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  z-index: 1;
}

/*#home .cart-icon{
  max-height: 43.95px;
}*/

#home .beauty-corner-content{
  position: relative;
  margin-bottom: 40px;
}

#home .vector1 img{
  position: absolute;
  top: 0px;
  left: 0px;
  /*top: 0px;*/
  /*right: 0px;*/
}

#home .vector2 img{
  position: absolute;
  right: 0px;
  bottom: 0px;
  /*bottom: 0px;*/
  /*left: 0px;*/
}

/*home slider 3d*/
#home .beauty-slider{
  padding-top: 12px;
  padding-bottom: 12px;
}

[type=radio] {
  display: none;
}

#content-box #slider {
  height: 400px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  padding-top: 24px;
  margin-bottom: 51px;
}

#content-box #slider label {
  margin: auto;
  width: 60%;
  height: 100%;
  border-radius: 4px;
  position: absolute;
  left: 0; right: 0;
  cursor: pointer;
  transition: transform 0.4s ease;
}

#s1 ~ #slide4, #s2:checked ~ #slide5,
#s3 ~ #slide1, #s4:checked ~ #slide2,
#s5 ~ #slide3 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(-30%,0,-200px);
}

#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(-15%,0,-100px);
}

#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 25px 0 rgba(0,0,0,.3), 0 11px 7px 0 rgba(0,0,0,.19);
  transform: translate3d(0,0,0);
}

#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,.3), 0 2px 2px 0 rgba(0,0,0,.2);
  transform: translate3d(15%,0,-100px);
}

#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
  transform: translate3d(30%,0,-200px);
}

#slide1, #slide2, #slide3, #slide4, #slide5 {
  position: relative;
}

#slide1 img, #slide2 img, #slide3 img, #slide4 img, #slide5 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /*position: absolute;*/
}

#home .beauty-corner-text{
  top:43px;
}

#home .text-title{
  font-family: "Noticia";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 66px;
}

#home .beauty-corner-text .content{
  font-family: "Noticia";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

#home .button-beauty-corner{
  text-align: center;
  margin-top: 41px;
}

#home .beauty-corner-text .text{
    width: 80%;
    max-height: 293px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#home .news-content{
  position: relative;
  height: 1087px;
  margin-bottom: 90px;
  margin-top: 89px;
}

#home .corner-top {
  background: linear-gradient(206.16deg, #D0DECF 22.2%, rgba(208, 222, 207, 0) 65.6%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
/*  background-image: url('/img/background/Rectangle 66.png');
  background-repeat: no-repeat;*/
  width: 600px;
  height: 369px;
  position: absolute;
  z-index: -9999;
}
#home .corner-bottom{
/*  background-image: url('/img/background/Rectangle 65.png');
  background-repeat: no-repeat;*/
  background: linear-gradient(43.16deg, rgba(16, 62, 75, 0.9) 3.97%, rgba(16, 62, 75, 0) 49.67%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 600px;
  height: 439px;
  right: 0px;
  position: absolute;
  z-index: -9999;
  bottom: 0px;
}

#home .news .container-img-1{
    height: 703px;
    width: 100%;
    margin-top: 221px;
}

/*#home .news .container-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 11px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}*/

#home .image-col2-row1{
  height: 240px;
  width: 100%;
  margin-top: 33px;
}
#home .news-content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 11px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

#home .image-col2-row2{
  height: 574px;
  width: 100%;
  margin-top: 27px;
}

#home .image-col3-row1{
  height: 562px;
  width: 100%;
  margin-top: -66px;
}

#home .image-col3-row2{
  height: 278px;
  width: 100%;
  margin-top: 16px;
}
/*#home .image-col2-row2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 11px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
*/

/*#content-box{
  width: 100px;
  height: 100px;

  background:
    linear-gradient(to right, black 4px, transparent 4px) 0 0,
    linear-gradient(to right, black 4px, transparent 4px) 0 100%,
    linear-gradient(to left, black 4px, transparent 4px) 100% 0,
    linear-gradient(to left, black 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, black 4px, transparent 4px) 0 0,
    linear-gradient(to bottom, black 4px, transparent 4px) 100% 0,
    linear-gradient(to top, black 4px, transparent 4px) 0 100%,
    linear-gradient(to top, black 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
}*/

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
  .rec {
    width: 48.99999%;
    /*margin: 6px 0;*/
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  .rec {
    width: 100%;
  }
}

@media(min-width: 1440px){
  #product .pro-desc .text-desc{
      padding-right: 101px;
    }

  #product .text-desc{
    transform: translate(0, 50%);
    padding-right: 101px;
    display: block;
  }
}

@media(min-width: 1024px){
  #product .pro-desc .text-desc{
      padding-right: 0px;
    }

  #product .text-desc{
    transform: translate(0, 30%);
    display: block;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/*PRODUCT*/
#product .top-product .container-image{
  padding: 2px;
}

#product .product-list{
  margin-bottom: 18px;
}

#product .new-product:hover{
  background: #979797;
}
#product .container-image img{
  position: relative;
  width: 100%;
  height: 100%;
}
#product .product-text{
  position: absolute;
  bottom: 0px;
  font-family: "Noticia";
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
}
#product .container-image hr{
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000000;
}

#product .video-box{
  margin-top: 40px;
}
#product .product-desc{
  /*border: 1px solid black;*/
  max-height: 1736.16px;
  background-image: url('/img/background/Vector 3.png');
  background-repeat: no-repeat;
  margin-top: 40px;
  position: relative;
}

#product .background-1{
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-height: 1578.89px;
  /*border: 1px solid black;*/
  background-image: url('/img/background/Vector 5.png');
  background-repeat: no-repeat;
}

#product .background-2{
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-height: 1595.07px;
  /*border: 1px solid black;*/
  background-image: url('/img/background/Vector 4.png');
  background-repeat: no-repeat;
}

#product .background-3{
  width: 100%;
  position: absolute;
  bottom: 0px;
  max-height: 1056.37px;
  /*border: 1px solid black;*/
  background-image: url('/img/background/Vector 6.png');
  background-repeat: no-repeat;
}

#product .img-pro-container{
  width: 100%;
  max-height: 720.48px;
/*  padding-top: 210.14px;
  position: absolute;*/
}
#product .img-pro-container img{
  width: 100%;
  height: 100%;
}

#product .pro-desc{
  padding-top: 210.14px;
}

#product .pro-desc-under{
  margin-top: 40.03px;
}

/*#product .text-desc{
  transform: translate(0, 50%);
  padding-right: 101px;
  display: block;
}*/

/*#product .pro-desc .text-desc{
  padding-right: 101px;
}*/

#product .pro-desc-under .text-desc{
  padding-left: 9.47px;
}

#product .text-desc p.title{
  font-family: "Noticia";
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  color: #000000;
  margin-bottom: 16.1px;
}

#product .text-desc p.content{
  font-family: "Noticia";
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  color: rgba(0, 0, 0, 0.7);
}

#product .action-desc{
  margin-top: 90.83px;
  padding-top: 15px;
  background: linear-gradient(180deg, rgba(241, 240, 241, 0) 0%, #F1F0F1 100%);
  padding-bottom: 40px;
}

#product .action-desc-text p{
  font-family: "Noticia";
  font-style: normal;
  font-weight: bold;
  font-style: 48px;
  text-align: center;
  margin-bottom: 205px;
}

#product .action-desc .video-container{
  width: 770px;
  height: 361px;
  margin: 0 auto;
}

#product .slide-review{
  background: url('/img/background/slide-review.jpg');
  /*transform: rotate(179.96deg);*/
  /*background-image: url('/img/background/Vector 6.png');*/
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-top: 80px;
}

#product .content-detail{
  padding-top: 60px;
}

#product .product-detail{
  margin-top: 90px;
  margin-bottom: 90px;
}

.image-detail{
  padding: 0px 66px;
}

#product .product-detail .title p{
  font-family: "Noticia";
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.title-text{
  font-family: "Noticia";
  font-weight: bold;
  font-style: normal;
  line-height:  33px;
  font-style: 24px;
}

#product .product-detail .title-text{
  color: #000000;
  margin-bottom: 14px;
}

.desc-text{
  font-family: "Noticia";
  font-weight: bold;
  font-style: normal;
  line-height: 25px;
  font-style: 18px;
}

/*star*/
#product .starrating {
    float: left;
    display: block;
}
#product .starrating > input {display: none;}  /* Remove radio buttons */
#product .starrating > label:before {
    content: url(../img/Star1.png);
    /*content: "\f005"; !* Star *!*/
    /*margin-right: 10px;*/
    /*font-size: 39px;*/
    /*font-family: FontAwesome;*/
    /*display: inline-block;*/
}

#product .starrating > label {
    color: #222222; /* Start color when not clicked */
    margin-bottom: 0;
}

#product .starrating > input:checked ~ label
{ color: #EFAF0C ; } /* Set yellow color when star checked */

#product .starrating > input:hover ~ label
{ color: #EFAF0C ;  } /* Set yellow color when star hover */

.content-item-product h4.price {
    line-height: 33px;
    color: #000000;
    margin:10px 0 0 0;
}
#product .content-item-product p {
    margin-top:9px;
}
#product .content-item-product .choose-color {
    margin-top: 37px;
}
#product .content-item-product .choose-color span.text-color {
    margin-right: 22px;
}
#product .content-item-product .choose-color i.icon{
    margin-right: 7px;
}
#product .content-item-product .choose-color i.active {
    border: 2px solid;
    box-sizing: border-box;
    /*border-radius: 50%;*/
}
#product .content-item-product .line-item-product {
    border: 1px solid #135454;
    margin-top: 35px;
    margin-bottom: 29px
}

/*detail*/

#product .feature{
  margin-top: 49px;
}

#product .feature-text{
  border-right: 1px solid #E8A45F;
  text-align: center;
  /*transform: rotate(90deg);*/
}

#product .product-detail .desc{
  /*padding-left: 43px;*/
  /*padding-right: 64px;*/
}

/*ABOUT*/
#about .title{
  font-family: "Noticia";
  font-weight: 48px;
  font-style: normal;
  line-height: 66px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin-bottom: 40px;

}

#about .content{
  font-family: "Noticia";
  font-weight: 30px;
  font-style: normal;
  line-height: 41px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  margin-bottom: 19px;
}

#about{
  margin-top:  80px;
}

#about .content1{
  margin-bottom: 60px;
}

#faq ul.sub-menu.collapse p{
  font-family: "Noticia";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.7);
}

#faq ul.sub-menu.faq.collapse{
  padding-bottom: 32px;
}

/*buy*/
.buy ul {
    /*display: inline-flex;*/
    padding-left: 0px;
}
.buy ul li {
    float: left;
    margin-right: 26px;
    width: 30.33333%;
    margin-bottom: 55px;
}
.buy ul li:nth-child(even) {
    margin-right: 0;
    float: right;
}
.buy ul li img {
    width: 100%;
}
.buy ul li p.title {
    padding: 10px 0 7px;
}
.buy ul li p.content {
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
}

#buy label{
  width: 17.59px;
  height: 18.37px;
  padding: 11px 5.41px;
}


/*buy*/
    :root {
    /* Base font size */
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

.gallery-item {
    /* Minimum width of 24rem and grow to fit available space */
    flex: 1 0 24rem;
    /* Margin value should be half of grid-gap value as margins on flex items don't collapse */
    margin: 1rem;
    /*box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);*/
    overflow: hidden;
    padding-bottom: 50px;
}

.gallery-image {
    display: block;
    width: 100%;
    /*height: 100%;*/
    object-fit: cover;
    /*transition: transform 400ms ease-out;*/
}


@supports (display: grid) {
    #buy .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery,
    .gallery-item {
        margin: 0;
    }

    #beauty-corner .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }
}

.star-rating {
    direction: rtl;
    display: inline-block;
    padding-left: 6px;
}

.star-rating input[type=radio] {
    display: none
}

.star-rating label {
    color: #bbb;
    font-size: 18px;
    padding: 0;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}

.pro-star{
    color: #EFAF0C;
}

.product-name p, .price p{
    font-weight: bold;
    font-style: normal;
}

.product-name p{
    color: rgba(0, 0, 0, 0.7);
    line-height: 33px;
}
.price p{
    color: #000000;
    line-height: 25px;
}

/*beauty-corner*/
#beauty-corner .product-name p, .price p{
    font-weight: bold;
    font-style: normal;
}

#beauty-corner .product-name p{
    color: #000000;
    line-height: 33px;
    margin-top: 10px;
    margin-bottom: 7px;
}
#beauty-corner .price p{
    color: rgba(0, 0, 0, 0.7);
    line-height: 25px;
}







